body {
  margin: 0;
}
.grid {
  display: grid;
  height: 100vh;
  width: 100vh;
  grid-template-columns: repeat(var(--gridColumn), 1fr);
  grid-template-rows: repeat(var(--gridRow), 1fr);
  grid-gap: 1px;
  background-color: #ccc;
  border: 1px solid #ccc;
}

.dead {
  background: #fff;
}

.alive {
  background: #000;
}
